.global__router {
  padding-bottom: 100px;
}
.global__title {
  margin: 10px 0;
  color: var(--bg-dark-blue1);
  font-weight: 500;
  padding-left: 30px;
}

.get__navbar {
  width: 100%;
  height: 50px;
  background: var(--bg-dark-blue1);
  background: var(--bg-dark2);
  position: sticky;
  top: 0;
  z-index: 6;
  padding-left: 30px;
  display: flex;
  align-items: center;
  color: #fff;
}
.get__navbar > h3 {
  font-weight: 400;
}
.get__collection {
  display: flex;
  gap: 40px;
  list-style: none;
  margin-left: 60px;
}
.get__item {
  font-size: 13px;
  position: relative;
  cursor: pointer;
}
.get__item span {
  font-size: 11px;
  min-width: 20px;
  display: grid;
  place-items: center;
  position: absolute;
  top: -8px;
  right: -16px;
  background: crimson;
  padding: 2px 3.5px;
  border-radius: 20px;
}
.get__item-active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px 5px 0 0;
}

.get__controller {
  position: sticky;
  top: 50px;
  z-index: 5;
  width: 100%;
  padding-left: 30px;
  height: 50px;
  background: var(--bg-light);
  box-shadow: 0 3px 3px #5551;
  display: flex;
  align-items: center;
}
.get__controller input,
.get__controller select {
  width: 350px;
  height: 34px;
  border: 1px solid #ddd;
  outline: none;
  text-indent: 10px;
  font-size: 13px;
  border-radius: 5px;
  margin-right: 20px;
}
.get__controller select {
  width: 150px;
  text-indent: 0;
}
.get__student-search{
  position: absolute;
  top: 100%;
  left: 30px;
  width: 350px;
  height: 300px;
  background: #fff;
  box-shadow: 5px 5px 10px #0002;
  border-radius: 0 0 8px 8px;
  overflow: auto;
  padding-bottom: 20px;
  font-size: 15px;
}
.get__student-search a{
  display: block;
  color: var(--bg-td);
  padding: 10px;
}
.get__student-search a:hover{
  background: #dbdce956;
}
.get__student-search p{
  text-align: center;
  color: crimson;
}
.get__student-search img{
  width: 30px;
  display: block;
  margin: auto;
}
.get__controller-collection {
  display: flex;
  gap: 10px;
  overflow: auto;
  list-style: none;
  padding-bottom: 5px;
}
.get__controller-collection::-webkit-scrollbar{
  height: 6px;
}
.get__controller-item {
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid var(--bg-py);
  color: var(--bg-py);
  border-radius: 6px;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}
.get__controller-item span {
  display: grid;
  place-items: center;
  background: var(--bg-py);
  color: #fff;
  min-width: 20px;
  border-radius: 20px;
  margin-left: 10px;
  font-size: 12px;
  padding: 0 4px;
}
.get__controller-active {
  color: #fff;
  background: var(--bg-py);
}
.get__controller-active span {
  background: #fff;
  color: var(--bg-py);
}
.hr {
  background: #ddd;
  height: 1px;
  border: none;
}

.btn-danger,
.btn-py {
  padding: 4px 12px;
  background: var(--bg-py);
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 3px #0003;
  opacity: 0.8;
  transition: 0.3s;
}
.btn-danger {
  background: var(--bg-danger);
}
.btn-danger:hover,
.btn-py:hover {
  opacity: 1;
  box-shadow: 2px 2px 6px #0004;
}
.btn-danger:disabled,
.btn-py:disabled {
  cursor: default;
  opacity: 0.4;
}
.backBtn {
  display: inline-block;
  padding: 5px 14px;
  border-radius: 5px;
  border: none;
  background: var(--bg-dark2);
  color: #fff;
  opacity: 0.7;
  transition: 0.3s;
  box-shadow: 2px 2px 5px #0001;
}
.backBtn:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 2px 2px 10px #0002;
}
.backBtn b {
  transform: translateY(1.3px) rotate(180deg);
  display: inline-block;
  font-weight: 100;
  margin-right: 10px;
}
.get__item p:nth-child(1){
  display: inline-block;
}
.get__item p:nth-child(2){
  display: none;
}
.get__navbar-close{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 36px;
  height: 36px;
  border-radius: 0 0 0 24px;
  border: none;
  color: #fff;
  background: crimson;
  cursor: pointer;
}

@media screen and (max-width:750px) {
  .get__navbar{
    min-height: 64px;
    padding-left: 10px;
    padding-top: 5px;
    flex-direction: column;
    align-items: flex-start;
  }
  .get__collection {
    display: flex;
    gap: 8px;
    margin-left: 0px;
    margin-top: 10px;
  }
  .get__item {
    margin-left: 0px;
    margin-right: 20px;
  }
  .get__item p:nth-child(1){
    display: none;
  }
  .get__item p:nth-child(2){
    display: inline-block;
  }
  .get__controller {
    position: relative;
    top: 0;
    padding-left: 10px;
  }
  .get__student-search{
    left: 10px;
    width: calc(100% - 30px);
  }
  .get__controller .get__student-searchInput{
    width: 100%;
  }
}

