.form {
  width: 50%;
  padding-left: 30px;
}
.form__field {
  margin: 4px;
}

.form__field label {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 5px;
}
.form__field label,
.form__field input,
.form__field textarea,
.form__field select {
  color: var(--bg-td);
}
.form__field select,
.form__field textarea,
.form__field input {
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px #dfdfdf41;
  resize: none;
}

.form__field input:focus,
.form__field textarea:focus {
  outline: 3.5px solid var(--bg-sy);
}

.regStu__deleteNumber {
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
  display: inline-block;
  padding: 1px 3px;
  font-weight: 600;
  
}
.regStu__deleteNumber:hover {
  color: #fff;
  background: var(--bg-danger);
}
.regStu__deleteNone:hover{
  color: red;
  background: transparent;
}

.form__btn {
  margin-top: 15px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: var(--bg-py);
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

.form__btn:hover {
  opacity: 0.8;
}
.form__btn:disabled {
  opacity: 0.7;
  cursor: default;
}

.above__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .form {
    width: 100%;
    padding: 20px;
  }
}
