.regStuRoute_Container {
  min-height: 100vh;
  background: var(--bg-light);
  padding: 20px 5% 150px;
}
.greeting__modal{
  position: fixed;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: grid;
  place-items: center;
}
.greeting__modal-shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #38557033;
  backdrop-filter: blur(4px);
}
.greeting__modal-content{
  width: 400px;
  height: 80%;
  overflow: auto;
  background: #fff;
  position: relative;
  border-radius: 15px;
  color: var(--bg-td);
  transform: translateY(-50px);
  opacity: 0;
  animation: greetingModal .5s .5s forwards;
}

@keyframes greetingModal {
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
.greeting__modal-content div{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px;
  z-index: 2;

}
.greeting__modal-content h3{
  margin-bottom: 30px;
}
.greeting__modal-content ul{
  padding-left: 16px;
  line-height: 1.8;
}
.greeting__modal-content i{
  display: block;
  line-height: 1.6;
  padding-bottom: 10px;
}
.greeting__modal-content button{
  margin-bottom: 80px;
}

.greeting__modal-content svg{
  position: absolute;
  right: 50px;
  bottom: 150px;
  font-size: 150px;
  z-index: 0;
  opacity: .1;
  color: #555;
  transform: rotate(20deg);
}
.greeting__modal-content svg:nth-child(2){
  bottom: 30px;
  font-size: 120px;
  transform: rotate(0deg);
}
@media screen and (max-width:800px) {
  .greeting__modal-content{
    width: 90%;
  }
}